@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  max-width: 980px; 
  margin: 0 auto; /* centra il contenuto */
}

#main-header img, #main-header h1{
  padding-top: 20px;
  display: inline-block;
}

#title{
  font-size: 350%;
  font-family: 'Kanit', sans-serif;
}